<ion-content class="ion-padding">
    <h2 class="ion-text-center">{{this.moduleService.currLesson.name}}</h2>
    <ion-row class="ion-justify-content-center">
        <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="picked">
            <ion-segment-button value="general">
                <ion-label>GENERAL</ion-label>
            </ion-segment-button>
            <ion-segment-button value="questions">
                <ion-label>QUESTIONS</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-row>
    <div [ngSwitch]="picked">
        <div *ngSwitchCase="'general'">
            <ion-row class="ion-justify-content-center">
                <div class="incitement-box">
                    <img (click)="playLesson(this.moduleService.currLesson)"
                          src="../../../assets/icons/play-button-orange.svg"
                          alt="arrow pointing right"
                          srcset="../../../assets/icons/play-button-orange.svg">
                    <div class="incitement">
                        <p class="incitement-text">Jump right in!</p>
                    </div>
                </div>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <div class="content-box">
                    <h4>Description</h4>
                    <div class="content-box">
                        <span>{{this.moduleService.currLesson.description}}.</span>
                        <p>
                            <span *ngFor="let tag of this.moduleService.currLesson.tags">#{{tag}} </span>
                        </p>
                    </div>
                    <h4>General Progress</h4>
                    <div class="content-box">
                        <div>
                            <progress-bar [progress]="this.moduleService.currLesson.progress" [color-degraded]="{'0': '#798A93', '99': '#66BE90'}">
                            </progress-bar>
                        </div>
                        <ion-row class="ion-justify-content-around loop-row">
                            <div class="green">
                                <div class="loop-count">
                                    <span>{{this.learned}}</span>
                                </div>
                                <span>Learned</span>
                            </div>
                            <div class="yellow">
                                <div class="loop-count">
                                    <span>{{this.halfway}}</span>
                                </div>
                                <span>Halfway</span>
                            </div>
                            <div class="red">
                                <div class="loop-count">
                                    <span>{{this.unsure}}</span>
                                </div>
                                <span>Unsure</span>
                            </div>
                        </ion-row>
                    </div>
                </div>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <div class="incitement-box">
                    <img (click)="this.resetModuleProgress()"
                         src="../../../assets/icons/restart-lesson.svg"
                         alt="arrow pointing right"
                         srcset="../../../assets/icons/restart-lesson.svg">
                    <div class="incitement">
                        <p class="incitement-text">Reset progress?</p>
                    </div>
                </div>
            </ion-row>
        </div>
        <div *ngSwitchCase="'questions'">
            <ion-row class="ion-justify-content-center">
                <div class="questions-content">
                    <h4>Questions</h4>
                    <ion-row class="ion-justify-content-around ion-align-items-center question-spacing" *ngFor="let question of this.moduleService.currLesson.questions; let i=index">
                        <div class="answer-box">
                            <span>{{question.question}}</span>
                        </div>
                        <div class="question-loops" [ngClass]="{'red': i < 3, 'yellow': i > 2 && i < 5, 'green': i > 4}">
                            <span>{{question.progress}}/6</span>
                        </div>
                    </ion-row>
                </div>
            </ion-row>
        </div>
    </div>
</ion-content>
<app-navbar></app-navbar>
