<ion-content class="ion-padding">

    <h2 class="ion-text-center">Congratulations!</h2>
    <h3 class="ion-text-center">lesson loop completed</h3>

    <div class="module">
        <div class="inner-module-wrapper">
            <span class="module-title">Mobile Application Dev</span>
            <div class="white-box">
                <div>
                    <progress-bar [progress]="0" [color-degraded]="{'0': '#798A93', '99': '#66BE90'}">
                    </progress-bar>
                </div>
                <div>
                                <span class="tags">#sometag #sometag..
                                    +2 more</span>
                </div>
            </div>
        </div>
    </div>

    <ion-row class="ion-justify-content-center">
        <div class="question-box">
            <ion-row class="ion-justify-content-around">
                <div>
                    <div class="loop-count">
                        <span class="green">5</span>
                    </div>
                    <span>Learned</span>
                </div>
                <div>
                    <div class="loop-count">
                        <span class="yellow">5</span>
                    </div>
                    <span>Halfway</span>
                </div>
                <div>
                    <div class="loop-count">
                        <span class="red">5</span>
                    </div>
                    <span>Unsure</span>
                </div>
            </ion-row>
        </div>
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <div class="question-box">
            <ion-row class="ion-justify-content-around">
                <div>
                    <div>
                        <img src="../../assets/icons/lessons.svg" alt="little book"
                             srcset="../../assets/icons/lessons.svg">
                    </div>
                    <span>Return to Lessons</span>
                </div>
                <div (click)="restartLesson()">
                    <div>
                        <img src="../../assets/icons/nextRound.svg" alt="roundcircle backarrow"
                             srcset="../../assets/icons/nextRound.svg">
                    </div>
                    <span>Next Round</span>
                </div>
            </ion-row>
        </div>
    </ion-row>

</ion-content>
