<ion-content class="ion-padding">
  <ion-grid style="display: flex; flex-flow: column;">
    <ion-row class="ion-justify-content-start">
      <img class="backbtn" (click)="this.navCtrl.pop();"
           src="../../../assets/icons/goback-arrow-topnav.svg"
           alt="arrow pointing right"
           srcset="../../../assets/icons/goback-arrow-topnav.svg">
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <h1 class="ion-text-center">About this app</h1>
    </ion-row>
    <ion-row style="flex-grow: 1;" class="ion-justify-content-center">
      <ion-col>
        <div class="ion-margin-bottom">
          <h2>About the team</h2>
          <div class="module">
            <img
                    src="../../../assets/icons/teamwork.svg"
                    alt="3 persons that represent a team
"
                    srcset="../../../assets/icons/teamwork.svg">
            <div class="inner-module-wrapper">
              <p class="text_color">We are a hard working team of 4 Students at the Technische Hochschule
                Mittelhessen.</p>
              <ul>
                <li class="text_color">Richard Leichner</li>
                <li class="text_color">Jan Schrempp</li>
                <li class="text_color">Jan Geicke</li>
                <li class="text_color">Leona Kirchem</li>
              </ul>

            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-margin-bottom">
          <h2>Get Support</h2>
          <div class="module">
            <img src="../../../assets/icons/email.svg"
                 alt="arrow pointing right"
                 srcset="../../../assets/icons/email.svg">
            <div class="inner-module-wrapper">
              <p class="text_color">Email us at: support@cardloop.com</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-margin-bottom">
          <h2>Credit and Licenses</h2>
          <div class="module">
            <img src="../../../assets/icons/credit-card.svg"
                 alt="a hand with money"
                 srcset="../../../assets/icons/credit-card.svg">
            <div class="inner-module-wrapper">
              <h3 class="text_color">Frameworks:</h3>
              <ul>
                <li class="text_color">Ionic (Framework and Icons)</li>
                <li class="text_color">Angular</li>
                <li class="text_color">Capacitor</li>
                <li class="text_color">Freepik</li>
              </ul>
              <h3 class="text_color">Icons:</h3>
              <ul>
                <li class="text_color">Freepik (Icons)</li>
                <li class="text_color">Vectors Market (Icons)</li>
                <li class="text_color">Smartline (Icons)</li>
                <li class="text_color">Pixel perfect (Icons)</li>
                <li class="text_color">Creative Stall Premium (Icons)</li>
                <li class="text_color">Smartline (Icons)</li>
              </ul>
              <h3 class="text_color">Other:</h3>
              <ul>
                <li class="text_color">Bootsoon (ng-circle-progress)</li>
              </ul>
              <p class="text_color">For further informations please contact us.</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

