<ion-footer>
    <ion-toolbar>
        <ion-row class="ion-justify-content-around">
            <ion-button size="small" color="none" routerLink="/logged-in" [routerLinkActive]="['active']">
                <img id="navbar_house" src="../../assets/icons/home-solid.svg" alt="little house"
                     srcset="../../assets/icons/home-solid.svg">
            </ion-button>
            <ion-button size="small" color="none" routerLink="/achievement" [routerLinkActive]="['active']">
                <img src="../../assets/icons/trophy-solid.svg" alt="little trophy cup"
                     srcset="../../assets/icons/trophy-solid.svg">
            </ion-button>
            <ion-button size="small" color="none" routerLink="/module-list" [routerLinkActive]="['active']">
                <img src="../../assets/icons/lessons.svg" alt="little book"
                     srcset="../../assets/icons/lessons.svg">

            </ion-button>
            <ion-button size="small" color="none" routerLink="/import-modules" [routerLinkActive]="['active']">
                <img src="../../assets/icons/cloud-download-no-bg.svg" alt="little cloud with downward arrow"
                     srcset="../../assets/icons/cloud-download-no-bg.svg">
            </ion-button>
            <ion-button size="small" color="none" routerLink="/user-profile" [routerLinkActive]="['active']">
                <img src="../../assets/icons/user-circle-solid.svg" alt="person in a circle"
                     srcset="../../assets/icons/user-circle-solid.svg">
            </ion-button>
        </ion-row>
    </ion-toolbar>
</ion-footer>
