<!--
TODO: Resize Pagination Bullets
-->
<ion-content>
    <ion-slides pager="true">
        <ion-slide class="onboard1">
            <div class="flexbox-container">
                <div>
                    <ion-text class="onboarding_text_2 white_color text_position">
                        Welcome to
                    </ion-text>
                </div>
                <div>
                    <img src="../../assets/img/logo-simple-ring.svg" alt="cardloop logo">
                    <ion-text class="onboarding_text_3 white_color text_position">
                        CardLoop
                    </ion-text>
                </div>
                <div>
                    <ion-text class="onboarding_text_2 white_color text_position ion-text-center">
                        Don't worry, we will show you everything you need!
                    </ion-text>
                </div>
            </div>
        </ion-slide>
        <ion-slide class="onboard2">
            <div class="flexbox-container">
                <div class="tut_icon">
                    <img src="../../assets/icons/book_with_download.svg"
                         srcset="../../assets/icons/book_with_download.svg" alt="a book with a download icon">
                </div>
                <div class="tut_background">
                    <img class="custom_svg" src="../../assets/icons/downloadnav_with_arrow.svg"
                         srcset="../../assets/icons/downloadnav_with_arrow.svg"
                         alt="navigation bar with active cloud icon">
                    <img class="custom_svg" src="../../assets/icons/downloadlesson_with_arrow.svg"
                         srcset="../../assets/icons/downloadlesson_with_arrow.svg"
                         alt="a lesson with an icon for download">
                    <img class="custom_svg" src="../../assets/icons/lessonlist_with_arrow.svg"
                         srcset="../../assets/icons/lessonlist_with_arrow.svg" alt="a lesson with an icon for download">
                    <img class="custom_svg" src="../../assets/icons/lessonplay_with_arrow.svg"
                         srcset="../../assets/icons/lessonplay_with_arrow.svg" alt="a lesson with an icon for download">
                </div>
                <ion-text class="onboarding_text_2 white_color text_position">
                    Download Modules and play them.
                </ion-text>
            </div>
        </ion-slide>
        <ion-slide class="onboard3">
            <div class="flexbox-container">
                <div class="tut_icon">
                    <img src="../../assets/icons/detai_lessonl.svg" srcset="../../assets/icons/detai_lessonl.svg"
                         alt="a book with a download icon">
                </div>
                <div class="tut_background">
                    <img class="custom_svg" src="../../assets/icons/inspect_lesson_with_arrow.svg"
                         srcset="../../assets/icons/inspect_lesson_with_arrow.svg"
                         alt="navigation bar with active cloud icon">
                    <div class="onboard3_text">
                        <ion-text color="success">GREEN Cards</ion-text>
                        <ion-text class="onboarding_text_0 explain_text white_color"> are learned and will no longer
                            show up.
                        </ion-text>
                    </div>
                    <div class="onboard3_text">
                        <ion-text color="warning">YELLOW Cards</ion-text>
                        <ion-text class="onboarding_text_0 explain_text white_color"> are unsure.</ion-text>
                    </div>
                    <div class="onboard3_text">
                        <ion-text color="danger">RED Cards</ion-text>
                        <ion-text class="onboarding_text_0 explain_text white_color"> need to be learned more.
                        </ion-text>
                    </div>
                </div>
                <ion-text class="onboarding_text_2 white_color text_position">
                    Inspect your Lessons for Feedback.
                </ion-text>
            </div>
        </ion-slide>
        <ion-slide class="onboard4">
            <div class="flexbox-container">
                <div class="tut_icon">
                    <img src="../../assets/icons/achiev_chess.svg" srcset="../../assets/icons/achiev_chess.svg"
                         alt="a book with a download icon">
                </div>
                <div class="tut_background">
                    <img class="custom_svg" src="../../assets/icons/navbarachiev_with_arrow.svg"
                         srcset="../../assets/icons/navbarachiev_with_arrow.svg"
                         alt="navigation bar with active cloud icon">
                    <img class="custom_svg" src="../../assets/icons/achiev_navigation_achiev.svg"
                         srcset="../../assets/icons/achiev_navigation_achiev.svg"
                         alt="navigation bar with active cloud icon">
                    <img class="custom_svg" src="../../assets/icons/achievement_with_text.svg"
                         srcset="../../assets/icons/achievement_with_text.svg"
                         alt="navigation bar with active cloud icon">
                    <img class="custom_svg" src="../../assets/icons/achiev_navigation_statistics.svg"
                         srcset="../../assets/icons/achiev_navigation_statistics.svg"
                         alt="navigation bar with active cloud icon">
                </div>
                <ion-text class="onboarding_text_2 white_color text_position">
                    Watch your Progress and Statistics.
                </ion-text>
            </div>
        </ion-slide>
        <ion-slide class="onboard5">
            <div class="flexbox-container">
                <div class="tut_icon">
                    <img src="../../assets/icons/user.svg" srcset="../../assets/icons/user.svg"
                         alt="a book with a download icon">
                </div>
                <div class="tut_background">
                    <img class="custom_svg" src="../../assets/icons/add_module_button_import.svg"
                         srcset="../../assets/icons/add_module_button_import.svg"
                         alt="navigation bar with active cloud icon">
                    <img class="custom_svg" src="../../assets/icons/addmodule_general.svg"
                         srcset="../../assets/icons/addmodule_general.svg"
                         alt="navigation bar with active cloud icon">
                    <img class="custom_svg" src="../../assets/icons/addmodule_questions.svg"
                         srcset="../../assets/icons/addmodule_questions.svg"
                         alt="navigation bar with active cloud icon">
                    <img class="custom_svg" src="../../assets/icons/add_question_btn.svg"
                         srcset="../../assets/icons/add_question_btn.svg"
                         alt="navigation bar with active cloud icon">
                </div>
                <ion-text class="onboarding_text_2 white_color text_position">
                    Add your own personalized Modules.
                </ion-text>
            </div>
        </ion-slide>
        <ion-slide class="onboard6">
            <div class="flexbox-container">
                <div>
                    <img src="../../assets/img/logo-simple-ring.svg" alt="cardloop logo">
                    <ion-text class="onboarding_text_3 white_color text_position">
                        CardLoop
                    </ion-text>
                </div>
                <div>
                    <ion-button size="medium" color="primary" class="onboarding_text_1" (click)="onboardingFinish()"
                                [routerLink]="['/logged-in']">
                        Get Started.
                    </ion-button>
                </div>
                <div>
                    <ion-text class="onboarding_text_1 white_color text_position">
                        For more Information, <a [routerLink]="['/aboutpage']" class="onboarding_skip">Click here.</a>
                    </ion-text>
                </div>
            </div>
        </ion-slide>

        <!--
        <ion-slide id="onboarding_slide1">
            <ion-grid>
                <ion-row class="ion-justify-content-center ion-align-items-center">
                    <ion-img id="slide1_confetti" src="../../../assets/img/logo-simple-ring.svg"
                             alt="cardloop logo"></ion-img>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col size="8">
                        <ion-text class="onboarding_text_2 white_color">Welcome to CardLoop!</ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col size="8">
                        <ion-text class="onboarding_text_1 white_color">Don't worry, we will show you everything you
                            need!
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide id="onboarding_slide2"  class="ion-align-items-center">
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_3 white_color">find a lesson you are
                            interested in
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center  onboarding_toolbar">
                    <ion-col>
                        <img class="custom_svg" src="../../assets/icons/navbar_cloud_active.svg"
                             alt="navigation bar with active cloud icon">
                    </ion-col>
                </ion-row>

                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <img src="../../assets/icons/arrow_down_white.svg" alt="white arrow facing down">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_2 white_color">
                            Search for a module
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <img class="custom_svg" src="../../assets/icons/searchbar.svg"
                             srcset="../../assets/icons/searchbar.svg" alt="a searchbar">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_2 white_color">
                            And download it
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <img class="custom_svg" src="../../assets/icons/download_lesson_2.svg"
                             srcset="../../assets/icons/download_lesson_2.svg" alt="a lesson with an icon for download">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide id="onboarding_slide3" class="ion-align-items-center">
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_2 white_color">Now start your journey
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <img class="custom_svg" src="../../assets/icons/navbar_book_active.svg"
                             alt="the navigation bar with the book as active">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_2 white_color">Search for your module and hit play
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <img class="custom_svg" src="../../assets/icons/play_lesson_overview_with_arrow.svg"
                             alt="play lesson with the overview and play button">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide id="onboarding_slide4" class="ion-align-items-center">
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_2 white_color">or inspect details of a lesson
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <img class="custom_svg" src="../../assets/icons/navbar_book_active.svg"
                             alt="the navigation bar with the book as active">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <img class="custom_svg" src="../../assets/icons/see_details_of_lesson.svg"
                             alt="a lesson overview with a dropdown that says see details">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_2 white_color">klick on the lesson
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide id="onboarding_slide5" class="ion-align-items-center">
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_0 white_color">After each round you get a feedback
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <img class="round_svg" src="../../assets/icons/question_round_example.svg"
                             alt="a round circle with 3 colors that represent the percentage of right answered questions">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col size="8" class="ion-text-left">
                        <ion-text color="success">GREEN</ion-text>
                        <ion-text class="onboarding_text_0 explain_text white_color"> indicates, that you learned a
                            card.
                            If it is “learned”, it will no longer
                            show up in your next test.
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col size="8" class="ion-text-left">
                        <ion-text class="onboarding_text_0 explain_text" color="warning"> YELLOW indicates, at how many
                            cards you
                            are getting better in answering.
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center question_red">
                    <ion-col size="8" class="ion-text-left">
                        <ion-text class="onboarding_text_0 explain_text" color="danger">RED indicates, that you need to
                            learn
                            that card more often!
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide id="onboarding_slide6" class="ion-align-items-center">
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_2 white_color">If you answered all cards of a lesson correct 6
                            times in a
                            row,
                            the
                            lesson will be completed!
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <img
                                src="../../assets/icons/play_lesson_show_progressbar.svg"
                                alt="a lesson overview that shows a progress bar">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_1 white_color">And you also get Achievements for it.</ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <img src="../../assets/icons/achievement_example.svg"
                             alt="a example image of an achievement">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_1 white_color">Can you find them all?</ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide id="onboarding_slide7" class="ion-align-items-center">
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_2 white_color">Also if you are interested, you can add your own
                            Lessons!
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-around">
                    <ion-col size="1">
                        <ion-fab-button id="new_lesson_icon">
                            <ion-icon name="add"></ion-icon>
                        </ion-fab-button>
                    </ion-col>
                    <ion-col size="8">
                        <ion-text class="onboarding_text_1 white_color">You will find the Button in your List of Lessons
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <img class="custom_svg" src="../../assets/icons/switch_lesson.svg"
                             alt="a navigation switch with general and questions">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_1 white_color">In general, you can add a title, description,
                            hashtags and even select a specific color for your personal lesson!
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <img src="../../assets/icons/colors_add_lesson.svg"
                             alt="all colors that are available for custom lessons">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide id="onboarding_slide8" class="ion-align-items-center">
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_2 white_color">Also if you are interested, you can add your own
                            Lessons!
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <img class="custom_svg" src="../../assets/icons/switch_questions.svg"
                             alt="a navigation switch with general and questions">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-around">
                    <ion-col size="1">
                        <ion-fab-button id="new_question_icon">
                            <ion-icon name="add"></ion-icon>
                        </ion-fab-button>
                    </ion-col>
                    <ion-col size="8">
                        <ion-text class="onboarding_text_1 white_color">Add Questions via the Button
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_1 white_color">On the right side of each answer you can click
                            on the check mark to indicate, that an answer is correct.
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <img src="../../assets/icons/make_question_right.svg"
                             alt="a question answer with a check button">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide id="onboarding_slide9" class="ion-align-items-center">
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_2 white_color">That was it!</ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_2 white_color">If you have any more questions, please email
                            us.
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-button color="none" class="custom_svg" (click)="onboardingFinish()"
                                    [routerLink]="['/aboutpage']">
                            <img src="../../assets/icons/email_button.svg" alt="an icon that represents a mail button">
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_2 white_color">And now have fun with cardloop!</ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-text class="onboarding_text_1 white_color">Tip: If you hold a lesson pressed in your
                            lessonlist, you
                            will
                            get more options!
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-end ion-justify-content-center">
                    <ion-col>
                        <ion-button size="medium" color="primary" class="onboarding_text_1" (click)="onboardingFinish()"
                                    [routerLink]="['/logged-in']">
                            Click here to start.
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        -->

    </ion-slides>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-button color="none" (click)="onboardingFinish()" routerLink="/login" class="skip_button">
                <ion-text class="onboarding_skip">No, thanks.</ion-text>
            </ion-button>
        </ion-row>
    </ion-grid>
</ion-content>

