<!--
TODO: Resize Pagination Bullets
-->
<ion-content>
    <div class="onboarding-wrapper">
        <ion-slides pager="true">
            <ion-slide class="onboard1">
                <div class="flexbox-container">
                    <div>
                        <ion-text class="onboarding_text_2 white_color text_position">
                            Welcome to
                        </ion-text>
                    </div>
                    <div>
                        <img src="../../assets/img/logo-simple-ring.svg" alt="cardloop logo">
                        <ion-text class="onboarding_text_3 white_color text_position">
                            CardLoop
                        </ion-text>
                    </div>
                    <div>
                        <ion-text class="onboarding_text_2 white_color text_position ion-text-center">
                            Don't worry, we will show you everything you need!
                        </ion-text>
                    </div>
                    <ion-grid>
                        <ion-row class="ion-justify-content-center">
                            <ion-button color="none" (click)="onboardingFinish()" routerLink="/login" class="skip_button">
                                <ion-text class="onboarding_skip">No, thanks.</ion-text>
                            </ion-button>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide class="onboard2">
                <div class="flexbox-container">
                    <div class="tut_icon">
                        <img src="../../assets/icons/book_with_download.svg"
                             srcset="../../assets/icons/book_with_download.svg" alt="a book with a download icon">
                    </div>
                    <div class="tut_background">
                        <img class="custom_svg" src="../../assets/icons/downloadnav_with_arrow.svg"
                             srcset="../../assets/icons/downloadnav_with_arrow.svg"
                             alt="navigation bar with active cloud icon">
                        <img class="custom_svg" src="../../assets/icons/downloadlesson_with_arrow.svg"
                             srcset="../../assets/icons/downloadlesson_with_arrow.svg"
                             alt="a lesson with an icon for download">
                        <img class="custom_svg" src="../../assets/icons/lessonlist_with_arrow.svg"
                             srcset="../../assets/icons/lessonlist_with_arrow.svg"
                             alt="a lesson with an icon for download">
                        <img class="custom_svg" src="../../assets/icons/lessonplay_with_arrow.svg"
                             srcset="../../assets/icons/lessonplay_with_arrow.svg"
                             alt="a lesson with an icon for download">
                    </div>
                    <ion-text class="onboarding_text_2 white_color text_position">
                        Download Modules and play them.
                    </ion-text>
                </div>
            </ion-slide>
            <ion-slide class="onboard3">
                <div class="flexbox-container">
                    <div class="tut_icon">
                        <img src="../../assets/icons/detai_lessonl.svg" srcset="../../assets/icons/detai_lessonl.svg"
                             alt="a book with a download icon">
                    </div>
                    <div class="tut_background">
                        <img class="custom_svg" src="../../assets/icons/inspect_lesson_with_arrow.svg"
                             srcset="../../assets/icons/inspect_lesson_with_arrow.svg"
                             alt="navigation bar with active cloud icon">
                        <div class="onboard3_text">
                            <ion-text color="success">GREEN Cards</ion-text>
                            <ion-text class="onboarding_text_0 explain_text white_color"> are learned and will no longer
                                show up.
                            </ion-text>
                        </div>
                        <div class="onboard3_text">
                            <ion-text color="warning">YELLOW Cards</ion-text>
                            <ion-text class="onboarding_text_0 explain_text white_color"> are unsure.</ion-text>
                        </div>
                        <div class="onboard3_text">
                            <ion-text color="danger">RED Cards</ion-text>
                            <ion-text class="onboarding_text_0 explain_text white_color"> need to be learned more.
                            </ion-text>
                        </div>
                    </div>
                    <ion-text class="onboarding_text_2 white_color text_position">
                        Inspect your Lessons for Feedback.
                    </ion-text>
                </div>
            </ion-slide>
            <ion-slide class="onboard4">
                <div class="flexbox-container">
                    <div class="tut_icon">
                        <img src="../../assets/icons/achiev_chess.svg" srcset="../../assets/icons/achiev_chess.svg"
                             alt="a book with a download icon">
                    </div>
                    <div class="tut_background">
                        <img class="custom_svg" src="../../assets/icons/navbarachiev_with_arrow.svg"
                             srcset="../../assets/icons/navbarachiev_with_arrow.svg"
                             alt="navigation bar with active cloud icon">
                        <img class="custom_svg" src="../../assets/icons/achiev_navigation_achiev.svg"
                             srcset="../../assets/icons/achiev_navigation_achiev.svg"
                             alt="navigation bar with active cloud icon">
                        <img class="custom_svg" src="../../assets/icons/achievement_with_text.svg"
                             srcset="../../assets/icons/achievement_with_text.svg"
                             alt="navigation bar with active cloud icon">
                        <img class="custom_svg" src="../../assets/icons/achiev_navigation_statistics.svg"
                             srcset="../../assets/icons/achiev_navigation_statistics.svg"
                             alt="navigation bar with active cloud icon">
                    </div>
                    <ion-text class="onboarding_text_2 white_color text_position">
                        Watch your Progress and Statistics.
                    </ion-text>
                </div>
            </ion-slide>
            <ion-slide class="onboard5">
                <div class="flexbox-container">
                    <div class="tut_icon">
                        <img src="../../assets/icons/user.svg" srcset="../../assets/icons/user.svg"
                             alt="a book with a download icon">
                    </div>
                    <div class="tut_background">
                        <img class="custom_svg" src="../../assets/icons/add_module_button_import.svg"
                             srcset="../../assets/icons/add_module_button_import.svg"
                             alt="navigation bar with active cloud icon">
                        <img class="custom_svg" src="../../assets/icons/addmodule_general.svg"
                             srcset="../../assets/icons/addmodule_general.svg"
                             alt="navigation bar with active cloud icon">
                        <img class="custom_svg" src="../../assets/icons/addmodule_questions.svg"
                             srcset="../../assets/icons/addmodule_questions.svg"
                             alt="navigation bar with active cloud icon">
                        <img class="custom_svg" src="../../assets/icons/add_question_btn.svg"
                             srcset="../../assets/icons/add_question_btn.svg"
                             alt="navigation bar with active cloud icon">
                    </div>
                    <ion-text class="onboarding_text_2 white_color text_position">
                        Add your own personalized Modules.
                    </ion-text>
                </div>
            </ion-slide>
            <ion-slide class="onboard6">
                <div class="flexbox-container">
                    <div>
                        <img src="../../assets/img/logo-simple-ring.svg" alt="cardloop logo">
                        <ion-text class="onboarding_text_3 white_color text_position">
                            CardLoop
                        </ion-text>
                    </div>
                    <div>
                        <ion-button size="medium" color="primary" class="onboarding_text_1" (click)="onboardingFinish()"
                                    [routerLink]="['/logged-in']">
                            Get Started.
                        </ion-button>
                    </div>
                    <div>
                        <ion-text class="onboarding_text_1 white_color text_position">
                            <p class="center-text">
                            For more Information, <br><a [routerLink]="['/aboutpage']" class="onboarding_skip">Click
                            here.</a>
                            </p>
                        </ion-text>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
    </div>

</ion-content>

