ion-content {
  --ion-background-color: linear-gradient(179.97deg, #4BA3C3 12.04%, #175676 77.49%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-container {
  //height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  //margin-top: 3rem;
  margin-bottom: 4rem;
}

.tut_background {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 30rem;
  width: 100%;
  text-align: center;
}

.tut_icon {
  height: 6rem;
  width: 6rem;
  float: left;
  position: relative;
  bottom: -4rem;
  left: -6rem;
}

.text_position {
  margin-top: 10px;
  padding: 0 1rem;
}

.custom_svg {
  position: relative;
  width: 12rem;
  height: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.onboard3_text {
  text-align: left;
  margin-top: 1rem;
}

.onboard1 > div > div {
  margin: 1rem;
}

.onboard3 > div > .tut_background > div {
  margin: 1.5rem;
}

.onboard4 > div > .tut_background > img {
  margin: 1.2rem;
}

.onboard5 > div > .tut_background {
  padding-top: 1rem !important;
}

.onboard6 > div > div {
  margin: 2.5rem;
}

/* Custom Slide Padding */

#onboarding_slide1 > ion-grid {
  --ion-grid-column-padding: 28px;
}

#onboarding_slide2 > ion-grid {
  --ion-grid-column-padding: 25px;
}

#onboarding_slide3 > ion-grid {
  --ion-grid-column-padding: 20px;
}

#onboarding_slide4 > ion-grid {
  --ion-grid-column-padding: 15px;
}

#onboarding_slide5 > ion-grid {
  --ion-grid-column-padding: 15px;
}

#onboarding_slide6 > ion-grid {
  --ion-grid-column-padding: 10px;
}

#onboarding_slide7 > ion-grid {
  --ion-grid-column-padding: 20px;
}

#onboarding_slide8 > ion-grid {
  --ion-grid-column-padding: 20px;
}

#onboarding_slide9 > ion-grid {
  --ion-grid-column-padding: 15px;
}

.question_red {
  padding-bottom: 20px;
}

/* --------------- */

ion-slides {
  --bullet-background-active: white;
  --bullet-background: #BBCDD6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.onboarding-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-text {
  font-variant: small-caps;
}

.white_color {
  color: white;
}

#slide1_confetti {
  height: 15rem;
  width: 15rem;
}

/* different text sizes */

.onboarding_text_0 {
  font-size: medium;
}

.onboarding_text_1 {
  font-size: large;
}

.onboarding_text_2 {
  font-size: x-large;
}

.onboarding_text_3 {
  font-size: xx-large;
}

/* ------- */

.onboarding_skip {
  color: #CCE6F4;
  font-size: medium;
  text-decoration: underline;
}

ion-footer {
  --ion-background-color: none;
  --ion-border-box-shadow: none;
}

/* .skip_button {
  background-color: #175676;
} */

.onboard_icon {
  height: 2rem;
  width: 2rem;
}

.onboarding_toolbar {
  --ion-background-color: #1B5777;
}

ion-button {
  --box-shadow: none;
  --ion-background-color: none;
}

.center-text {
  text-align: center;
}


/*Custom CSS Slide 1*/


/* Custom CSS Slide 4 */
.slide4_color[color] {
  --ion-color-success: #2C7595;
  --ion-color-warning: #FFB763;
  --ion-color-danger: #CF5D5D;
  float: right;
}

.round_svg {
  height: 8rem;
  width: 8rem;
}

/*Custom CSS Slide 7 */
#new_lesson_icon {
  --background: #c90b2d;
}

/*Custom CSS Slide 8*/
#new_question_icon {
  --background: #FFB763;
}
