<ion-header *ngIf="this.moduleService.currQuestion !== -1">
    <ion-toolbar class="topbar">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div *ngIf="this.moduleService.currQuestion === -1">
        <progress-bar [progress]="this.progress" [color-degraded]="{'0': '#798A93', '99': '#66BE90'}">
        </progress-bar>
    </div>
    <ion-row *ngIf="this.moduleService.currQuestion === -1" class="ion-justify-content-center">
        <div class="question-box">
            <p>{{this.question.question}}</p>
        </div>
    </ion-row>
    <ion-row *ngIf="this.moduleService.currQuestion !== -1" class="ion-justify-content-center">
        <div class="question-box">
            <p>{{this.moduleService.currLesson.questions[this.moduleService.currQuestion].question}}</p>
        </div>
    </ion-row>
    <ion-row *ngIf="this.moduleService.currQuestion === -1" class="ion-justify-content-center">
        <div class="question-box">
            <ion-row class="ion-justify-content-center" *ngFor="let answer of this.question.answers; trackBy: track; let i=index">
                    <div class="answer-box"
                         [class.chosen-box]="selectedAnswers[i]"
                         [class.wrong]="!rightAnswers[i] && confiremd"
                         [class.right]="rightAnswers[i] && confiremd"
                         (click)="choose(i)">
                        <span>{{answer}}</span>
                    </div>
            </ion-row>

        </div>
    </ion-row>
    <ion-row *ngIf="this.moduleService.currQuestion !== -1" class="ion-justify-content-center">
        <div class="question-box">
            <ion-row class="ion-justify-content-center" *ngFor="let answer of this.moduleService.currLesson.questions[this.moduleService.currQuestion].answers; trackBy: track; let i=index">
                <div class="answer-box">
                    <span>{{answer}}</span>
                </div>
            </ion-row>
        </div>
    </ion-row>
    <ion-row *ngIf="this.moduleService.currQuestion === -1">
        <div *ngIf="multipleChoise && !answered" class="confirm" (click)="confirm()" >
            <span>Confirm</span>
        </div>
        <div *ngIf="!multipleChoise && !answered" class="confirm" (click)="choose(chosenAnswer)" >
            <span>Confirm</span>
        </div>
        <div *ngIf="answered" class="confirm" (click)="initNextQuestion()">
            <span>Next</span>
        </div>
    </ion-row>
</ion-content>

<ion-footer *ngIf="this.moduleService.currQuestion === -1">
    <ion-toolbar class="botbar">
        <ion-row class="ion-justify-content-around" >
            <ion-button size="small" color="none" (click)="randomQuestion()" *ngIf="!randomized">
                <img src="../../../assets/icons/random-solid.svg" alt="two arrows"
                     srcset="../../../assets/icons/random-solid.svg" class="not_randomized">
            </ion-button>
            <ion-button size="small" color="none"  *ngIf="randomized" disabled="true">
                <img src="../../../assets/icons/random-solid.svg" alt="two arrows"
                     srcset="../../../assets/icons/random-solid.svg" fill="#585858">
            </ion-button>
            <ion-button size="small" color="none" (click)="gesLastQuestion()">
                <img src="../../../assets/icons/testmodus-backward.svg" alt="little trophy cup"
                     srcset="../../../assets/icons/testmodus-backward.svg" >
            </ion-button>
            <ion-button size="small" color="none" (click)="getNextQuestion()">
                <img src="../../../assets/icons/testmodus-forward.svg" alt="little cloud with downward arrow"
                     srcset="../../../assets/icons/testmodus-forward.svg">
            </ion-button>
            <ion-button size="small" color="none" (click)="endSession();">
                <img src="../../../assets/icons/testmodus-close-X-icon.svg" alt="person in a circle"
                     srcset="../../../assets/icons/testmodus-close-X-icon.svg">
            </ion-button>
        </ion-row>
    </ion-toolbar>
</ion-footer>

