ion-content {
  --ion-background-color: linear-gradient(179.97deg, #4BA3C3 12.04%, #175676 77.49%);
}

.question-box {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  cursor: pointer;
}

.question-box p {
  opacity: 1;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.answer-box {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 90%;
}

.chosen-box {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 1px 1px 4px 5px #ffffff;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 90%;
  color: white;
}

.answer-box span {
  opacity: 1;
  color: white;
  font-size: 1.2rem;
}

.confirm {
  background: #66BE90;
  box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.7rem;
  cursor: pointer;
}

.right {
  background: #66be90;
}

.wrong {
  background: #8e798b;
}

/**
  Bottom Navigation
 */

ion-toolbar {
  --background: #1B5777;
}

ion-button {
  background-color: transparent;
  --box-shadow: none;
}
img{
  height: 1.8rem;
  cursor: pointer;
}


