<div>
    <div>
        <p>Pick an action</p>
    </div>
    <div [ngSwitch]="calledfrom">
        <div *ngSwitchCase="'module-list'">
            <p>
                <a (click)="this.getModuleDetails()">
                    See Details
                </a>
            </p>
            <p>
                <a (click)="this.startDelete()">
                    Delete
                </a>
            </p>
            <p *ngIf="moduleService.isModuleOwner(moduleService.currLesson)">
                <a (click)="this.startEdit()">
                    Edit
                </a>
            </p>
        </div>
        <div *ngSwitchCase="'module-detail'">
            <p>
                <a (click)="this.getQuestionDetails()">
                    See Details
                </a>
            </p>
        </div>
    </div>
</div>
