<ion-content class="ion-padding">
    <ion-row class="ion-justify-content-end">
        <a *ngIf="this.authService.isLoggedIn == false" routerLink="/login">
            <img class="reg-icon" src="../../../assets/icons/register.svg"
                 alt="logo: 4 cards with a loop around"
                 srcset="../../../assets/icons/register.svg">
        </a>
    </ion-row>
    <ion-grid style="display: flex; flex-flow: column;">
        <ion-row class="ion-justify-content-center">
            <img class="logo" src="../../../assets/img/logo-simple-ring.svg"
                 alt="logo: 4 cards with a loop around"
                 srcset="../../../assets/img/logo-simple-ring.svg">
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <h2 class="ion-text-center">Welcome Back!</h2>
        </ion-row>
        <ion-row style="flex-grow: 1;" class="ion-justify-content-center" *ngIf="authService.isLoggedIn">
            <ion-col>
                <div class="ion-margin-bottom">
                    <h3 *ngIf="moduleService.isModuleImported(this.moduleService.recentlyPlayed)">Pick up where you left</h3>
                    <h3 *ngIf="!moduleService.isModuleImported(this.moduleService.recentlyPlayed)">Try out this Module!</h3>

                    <div class="module" [style.background-color]="this.moduleService.recentlyPlayed.color">
                        <img *ngIf="this.moduleService.isModuleImported(this.moduleService.recentlyPlayed)" (click)="playLesson(this.moduleService.recentlyPlayed)"
                             src="../../../assets/icons/play-button-orange.svg"
                             alt="arrow pointing right"
                             srcset="../../../assets/icons/play-button-orange.svg">
                        <img *ngIf="!this.moduleService.isModuleImported(this.moduleService.recentlyPlayed)" (click)="this.moduleService.importModule(this.moduleService.recentlyPlayed)"
                             src="../../../assets/icons/cloud-download-white-bg.svg" alt="cloud with downarrow"
                             srcset="../../../assets/icons/cloud-download-white-bg.svg">
                        <div class="inner-module-wrapper" (click)="this.moduleService.getModuleDetails(this.moduleService.recentlyPlayed)">
                            <p class="module-title">{{this.moduleService.recentlyPlayed.name}}</p>
                            <div class="white-box">
                                <div>
                                    <progress-bar [progress]="this.moduleService.recentlyPlayed.progress"
                                                  [color-degraded]="{'0': '#798A93', '99': '#66BE90'}">
                                    </progress-bar>
                                </div>
                                <div>
                                    <span class="tags" *ngFor="let tag of this.moduleService.recentlyPlayed.tags; index as i">
                                        <a>#{{tag}} </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col>
                <div class="ion-margin-bottom">
                    <h3>Next Achievement</h3>
                    <div class="achievement">
                        <ion-row class="inner-achievement ion-justify-content-around ion-align-items-center">
                            <ion-col size="2">
                                <img alt="{{this.achievementService.nextAchievement.achievementText}}"
                                     src="../../../assets/icons/{{this.achievementService.nextAchievement.achievementSVG}}"
                                     srcset="../../../assets/icons/{{this.achievementService.nextAchievement.achievementSVG}}">
                            </ion-col>
                            <ion-col size="8">
                                <span>{{this.achievementService.nextAchievement.achievementText}}</span>
                            </ion-col>
                            <ion-col size="2">
                                <a (click)="inspectNextAchievement()">
                                    <img src="../../../assets/icons/achievement-right-arrow.svg"
                                         alt="arrow pointing right"
                                         srcset="../../../assets/icons/achievement-right-arrow.svg">
                                </a>
                            </ion-col>
                        </ion-row>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-col class="ion-float-left">
        <h3>Recommendations</h3>
        <ion-slides [options]="sliderConfig">
            <ion-slide *ngFor="let recommendation of this.moduleService.recommendations">
                <div class="recommendation" (click)="this.moduleService.getModuleDetails(recommendation)" [style.background-color]="this.recommendation.color">
                    <ion-row class="ion-justify-content-between">
                        <span class="recommendation-title">{{recommendation.name}}</span>
                        <span>{{recommendation.questions.length}}
                            <img src="../../../assets/icons/sd-card-solid.svg" alt="arrow pointing right"
                                 srcset="../../../assets/icons/sd-card-solid.svg">
                            </span>
                    </ion-row>
                    <ion-row>
                        <span class="tags">
                            <a>#{{recommendation.tags[0]}}</a>
                            <a *ngIf="recommendation.tags[0].length + recommendation.tags[1].length < 21; else elseBlock">#{{recommendation.tags[1]}}</a>
                            <ng-template #elseBlock><a> + {{recommendation.tags.length - 1}} more</a></ng-template>
                        </span>
                    </ion-row>
                </div>
            </ion-slide>
        </ion-slides>
    </ion-col>
</ion-content>
<app-navbar></app-navbar>
