/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/**
  <----------------------------------->
  <-------  MODULE STYLING  ---------->
  <----------------------------------->
 */

.module {
  background-color: #CF5D5D;
  border-radius: 18px;
  box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.module img {
  height: 4rem;
  float: right;
  position: relative;
  top: -1.8rem;
  right: 0.5rem;
}

.inner-module-wrapper {
  padding: 0.8rem 0.8rem 0.1rem 0.8rem;
  cursor: pointer;
}

.module-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.white-box {
  background-color: #FFFFFF;
  border-radius: 18px;
  color: #696969;
  padding: 0.1rem 0.1rem;
  margin: 0.5rem 0.1rem;
}

.tags {
  font-size: 1rem;
  display: inline-block;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
}

