<ion-header>
    <ion-toolbar>
        <ion-searchbar showCancelButton="never" [(ngModel)]="searchQuery" (ionCancel)="searchBool = false"
                       (ionChange)="searchModules()"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div [hidden]="searchQuery">
        <ion-row class="ion-justify-content-center">
            <h2 class="ion-text-center">Your Lessons</h2>
        </ion-row>

        <ion-row class="ion-justify-content-center" *ngIf="this.moduleService.userModules.length === 0">
            <ion-col size="9">
                <p>Seems kind of empty and boring, <br>
                    click here to import a module
                    <img (click)="this.router.navigate(['import-modules'])" src="../../../assets/icons/cloud-download-orange-circle.svg"
                         alt="arrow pointing right"
                         srcset="../../../assets/icons/cloud-download-orange-circle.svg">
                </p>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center" *ngFor="let module of moduleService.userModules">
            <div class="module" [style.background-color]="module.color">
                <img *ngIf="module.progress < 100" (click)="playLesson(module)"
                     src="../../../assets/icons/play-button-orange.svg"
                     alt="arrow pointing right"
                     srcset="../../../assets/icons/play-button-orange.svg">
                <img *ngIf="module.progress === 100" (click)="this.moduleService.resetModuleProgress(module)"
                     src="../../../assets/icons/restart-lesson.svg"
                     alt="arrow pointing right"
                     srcset="../../../assets/icons/restart-lesson.svg">
                <div class="inner-module-wrapper"
                     (click)="popover($event, module); this.moduleService.currLesson = module">
                    <span class="module-title">{{module.name}}</span>
                    <div class="white-box">
                        <div>
                            <progress-bar [progress]="module.progress"
                                          [color-degraded]="{'0': '#798A93', '99': '#66BE90'}">
                            </progress-bar>
                        </div>
                        <div>
                        <span class="tags" *ngFor="let tag of this.module.tags; index as i">
                            <a>#{{tag}} </a>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </ion-row>
    </div>


    <div [hidden]="!searchQuery">


        <ion-row class="ion-justify-content-center">
            <h2 class="ion-text-center">{{filteredModules.length}} Lessons found</h2>
        </ion-row>


        <ion-row class="ion-justify-content-center" *ngFor="let module of this.filteredModules">
            <div class="module" [style.background-color]="module.color">
                <img (click)="playLesson(module)" src="../../../assets/icons/play-button-orange.svg"
                     alt="arrow pointing right"
                     srcset="../../../assets/icons/play-button-orange.svg">
                <div class="inner-module-wrapper"
                     (click)="popover($event, module); this.moduleService.currLesson = module">
                    <span class="module-title">{{module.name}}</span>
                    <div class="white-box">
                        <div>
                            <progress-bar [progress]="module.progress"
                                          [color-degraded]="{'0': '#798A93', '99': '#66BE90'}">
                            </progress-bar>
                        </div>
                        <div>
                        <span class="tags" *ngFor="let tag of this.module.tags; index as i">
                            <a>#{{tag}} </a>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </ion-row>
    </div>


</ion-content>

<app-navbar></app-navbar>
