<ion-header [hidden]="!searchBool">
    <ion-toolbar>
        <ion-searchbar #search showCancelButton="never" [(ngModel)]="searchQuery" (ionClear)="cancelSearch()" (ionChange)="searchModules()"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [hidden]="this.searchBool">
    <ion-row class="ion-justify-content-center">
        <h2><span (click)="focusButton()">Find a Lesson
                <ion-icon name="search-outline"></ion-icon></span>
        </h2>
    </ion-row>

    <ion-row *ngFor="let lesson of lessons" class="ion-justify-content-center ion-align-items-center">
        <ion-col>
            <div class="recommendation">
                <ion-row class="ion-justify-content-between">
                    <div class="recommendation-title" (click)="this.moduleService.getModuleDetails(lesson)">
                        <span>{{lesson.name}}</span>
                    </div>
                    <div class="cloud-box">
                        <img class="cloud-down" *ngIf="!this.moduleService.isModuleImported(lesson)" (click)="importClicked(lesson)"
                             src="../../assets/icons/cloud-download-white-bg.svg" alt="cloud with downarrow"
                             srcset="../../assets/icons/cloud-download-white-bg.svg">
                        <img class="cloud-down" *ngIf="this.moduleService.isModuleImported(lesson)" (click)="playClicked(lesson)"
                             src="../../assets/icons/play-button-orange.svg" alt="cloud with check"
                             srcset="../../assets/icons/play-button-orange.svg">
                    </div>
                </ion-row>
                <ion-row class="ion-justify-content-between tag-row">
                        <span class="tags">#{{lesson.tags[0]}}.. +
                            {{lesson.tags.length - 1}} more
                        </span>
                    <span class="tags">
                    {{lesson.questions.length}}
                        <img class="cards" src="../../assets/icons/sd-card-solid.svg" alt="arrow pointing right"
                             srcset="../../assets/icons/sd-card-solid.svg">
                </span>
                </ion-row>
            </div>
        </ion-col>
    </ion-row>
</ion-content>
<ion-content class="ion-padding" [hidden]="!this.searchBool">

    <ion-row class="ion-justify-content-center">
        <h2>{{filteredModule.length}} Lesson(s) found
        </h2>
    </ion-row>

    <ion-row *ngFor="let lesson of filteredModule" class="ion-justify-content-center ion-align-items-center">
        <ion-col>
            <div class="recommendation">
                <ion-row class="ion-justify-content-between">
                    <div class="recommendation-title" (click)="this.moduleService.getModuleDetails(lesson)">
                        <span>{{lesson.name}}</span>
                    </div>
                    <div class="cloud-box">
                        <img class="cloud-down" *ngIf="!this.moduleService.isModuleImported(lesson)" (click)="importClicked(lesson)"
                             src="../../assets/icons/cloud-download-white-bg.svg" alt="cloud with downarrow"
                             srcset="../../assets/icons/cloud-download-white-bg.svg">
                        <img class="cloud-down" *ngIf="this.moduleService.isModuleImported(lesson)" (click)="playClicked(lesson)"
                             src="../../assets/icons/play-button-orange.svg" alt="cloud with check"
                             srcset="../../assets/icons/play-button-orange.svg">
                    </div>
                </ion-row>
                <ion-row class="ion-justify-content-between tag-row">
                        <span class="tags">#{{lesson.tags[0]}}.. +
                            {{lesson.tags.length - 1}} more
                        </span>
                    <span class="tags">
                    {{lesson.questions.length}}
                        <img class="cards" src="../../assets/icons/sd-card-solid.svg" alt="arrow pointing right"
                             srcset="../../assets/icons/sd-card-solid.svg">
                </span>
                </ion-row>
            </div>
        </ion-col>
    </ion-row>
</ion-content>
<app-navbar></app-navbar>
