<ion-header [hidden]="!searchBool">
    <ion-toolbar>
        <ion-searchbar #search showCancelButton="never" [(ngModel)]="searchQuery" (ionClear)="cancelSearch()" (ionChange)="searchModules()"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [hidden]="this.searchBool">
    <ion-row class="ion-justify-content-center">
        <h2><span (click)="focusButton()">Find a Lesson
                <ion-icon name="search-outline"></ion-icon></span>
        </h2>
    </ion-row>

    <ion-row *ngFor="let lesson of lessons" class="ion-justify-content-center">
        <ion-row class="ion-justify-content-end">
            <div class="cloud-box">
                <img class="cloud-down" *ngIf="!this.moduleService.isModuleImported(lesson)"
                     (click)="importClicked(lesson)"
                     src="../../assets/icons/cloud-download-white-bg.svg" alt="cloud with downarrow"
                     srcset="../../assets/icons/cloud-download-white-bg.svg">
                <img class="cloud-down" *ngIf="this.moduleService.isModuleImported(lesson)"
                     (click)="playClicked(lesson)"
                     src="../../assets/icons/play-button-orange.svg" alt="cloud with check"
                     srcset="../../assets/icons/play-button-orange.svg">
            </div>
        </ion-row>
        <div class="recommendation" [style.background-color]="lesson.color" (click)="this.moduleService.getModuleDetails(lesson)">
            <ion-row class="ion-justify-content-between ion-align-items-center">
                <ion-col size="8">
                    <div class="recommendation-title">
                        <span>{{lesson.name}}</span>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div class="cloud-box">
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="tag-row">
                <ion-col size="10">
                        <span class="tags" *ngFor="let tag of this.lesson.tags;">
                            <a>#{{tag}}</a>
                        </span>
                </ion-col>
                <ion-col size="2">
                        <span class="tags" style="float: right">
                            {{lesson.questions.length}}
                            <img class="cards" src="../../assets/icons/sd-card-solid.svg" alt="arrow pointing right"
                                 srcset="../../assets/icons/sd-card-solid.svg">
                        </span>
                </ion-col>
            </ion-row>
        </div>
    </ion-row>
    <ion-fab *ngIf="this.authService.isLoggedIn" vertical="bottom" horizontal="end" slot="fixed" (click)="this.router.navigate(['add-modules'])">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
<ion-content class="ion-padding" [hidden]="!this.searchBool">

    <ion-row class="ion-justify-content-center">
        <h2>{{filteredModule.length}} Lesson(s) found
        </h2>
    </ion-row>

    <ion-row *ngFor="let lesson of filteredModule" class="ion-justify-content-center ion-align-items-center">
        <ion-row class="ion-justify-content-end">
            <div class="cloud-box">
                <img class="cloud-down" *ngIf="!this.moduleService.isModuleImported(lesson)"
                     (click)="importClicked(lesson)"
                     src="../../assets/icons/cloud-download-white-bg.svg" alt="cloud with downarrow"
                     srcset="../../assets/icons/cloud-download-white-bg.svg">
                <img class="cloud-down" *ngIf="this.moduleService.isModuleImported(lesson)"
                     (click)="playClicked(lesson)"
                     src="../../assets/icons/play-button-orange.svg" alt="cloud with check"
                     srcset="../../assets/icons/play-button-orange.svg">
            </div>
        </ion-row>
        <div class="recommendation" [style.background-color]="lesson.color">
            <ion-row class="ion-justify-content-between ion-align-items-center">
                <ion-col size="8">
                    <div class="recommendation-title" (click)="this.moduleService.getModuleDetails(lesson)">
                        <span>{{lesson.name}}</span>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div class="cloud-box">
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="tag-row">
                <ion-col size="10">
                        <span class="tags" *ngFor="let tag of this.lesson.tags;">
                            <a>#{{tag}}</a>
                        </span>
                </ion-col>
                <ion-col size="2">
                        <span class="tags" style="float: right">
                            {{lesson.questions.length}}
                            <img class="cards" src="../../assets/icons/sd-card-solid.svg" alt="arrow pointing right"
                                 srcset="../../assets/icons/sd-card-solid.svg">
                        </span>
                </ion-col>
            </ion-row>
        </div>
    </ion-row>

    <ion-fab *ngIf="this.authService.isLoggedIn" vertical="bottom" horizontal="end" slot="fixed" (click)="this.router.navigate(['add-modules'])">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
<app-navbar></app-navbar>
