/**
  General Overhead
 */


ion-content {
  --ion-background-color: linear-gradient(179.97deg, #4BA3C3 12.04%, #175676 77.49%);
}

/**
  HEADERS
 */

ion-header {
  --ion-background-color: #4ba3c3;
}

ion-toolbar {
  --background: #4ba3c3;
}

ion-header > div {
  background: #4ba3c3;
  border: none;
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0 0;
}

ion-icon[name="search-outline"] {
  color: #FFFFFF;
  font-size: 1.5rem;
  --ionicon-stroke-width: 64px;
  cursor: pointer;
  padding-right: 2rem;
}

ion-searchbar {
  padding: 3rem 1rem 2rem 1rem;
  --background: #FFFFFF;
  --border-radius: 12px;
  opacity: 0.6;
}

h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  font-variant: small-caps;
  color: #ffffff;
  margin-top: 0;
  text-align: center;
  cursor: pointer;
  margin-bottom: -2rem;
}

h2 > span {
  text-decoration: underline;
}

ion-icon[name="search-outline"] {
  color: #FFFFFF;
  font-size: 1.2rem;
  --ionicon-stroke-width: 64px;
  padding-left: 0.7rem;
}


/**
  CONTENT
 */

/**
  CATEGORY STYLING
 */

.category {
  background-color: grey;
  margin: 1rem;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 1rem;
  font-size: 0.9rem;
  box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.category > img {
  height: 4rem;
}

.cat1 {
  background: #8D779D;
}

.cat2 {
  background: #BA6363;
}

.cat3 {
  background: #8EB6CC;
}

.cat4 {
  background: #97BF78;
}

.cat5 {
  background: #D1B963;
}

.cat6 {
  background: #C29157;
}

/**
  Recommendations Styling
 */

.recommendation {
  box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  color: #FFFFFF;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  width: 100%;
  cursor: pointer;
}

.recommendation-title {
  font-size: 1.1rem;
}

.cards {
  height: 1rem;
  float: right;
  padding-left: 0.3rem;
}

.tag-row .tags {
  font-size: 0.9rem;
  display: inline-block;
  padding: 0;
}

.tag-row .tags a {
  color: white !important;
}

.tag-row {
  //margin-top: -2.5rem;
  border-top: 1px solid #FFFFFF;
}

.cloud-box {
  padding: 1rem;
  cursor: pointer;
  float: right;
  position: relative;
  bottom: -2rem;
  right: -8rem;
}

.cloud-down {
  height: 3rem;
  color: white;
  float: right;
  position: relative;
}

ion-fab-button {
  --background: #c90b2d;
}
